<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}

<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
        </svg>
      </div>
      <div class="slds-media__body slds-truncate">
        <h2>
          <a href="javascript:void(0);" class="slds-text-link--reset">
            <span class="slds-text-heading--small">Contacts (1)</span>
          </a>
        </h2>
      </div>
    </header>
    <div class="slds-no-flex">
      <button class="slds-button slds-button--neutral">New</button>
    </div>
  </div>
  <div class="slds-card__body">
    <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
      <thead>
        <tr class="slds-text-title--caps">
          <th scope="col">
            <div class="slds-truncate" title="Name">Name</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Company">Company</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Title">Title</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Email">Email</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="slds-hint-parent">
          <th scope="row">
            <div class="slds-truncate" title="Adam Choi"><a href="javascript:void(0);">Adam Choi</a></div>
          </th>
          <td>
            <div class="slds-truncate" title="Company One">Company One</div>
          </td>
          <td>
            <div class="slds-truncate" title="Director of Operations">Director of Operations</div>
          </td>
          <td>
            <div class="slds-truncate" title="adam@company.com">adam@company.com</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="slds-card__footer"><a href="javascript:void(0);">View All <span class="slds-assistive-text">entity type</span></a></div>
</article>

{% endblock %}
